name: Build and Push
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: 
    inputs:
      additional_packages:
        required: false
        type: string
jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add manual packages
        if: ${{ github.event.inputs.additional_packages }}
        run: |
          echo "RUN dnf install -y ${{ github.event.inputs.additional_packages }} && dnf clean all" >> Dockerfile.stream9
          echo "RUN dnf install -y ${{ github.event.inputs.additional_packages }} && dnf clean all" >> Dockerfile.alamalinux9
      - name: Build image
        run: docker compose build
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Push image
        run: docker compose push
